/* You can add global styles to this file, and also import other style files */

/*body {
    
    /*background-image: url('/movie.jpg'); /* Replace with your image path */
    /*background-image: url("./app/moviebg.jpg");
     background-repeat: no-repeat; 
      background-size: cover; 
    font-family: Arial, sans-serif;
}*/